.item1 { grid-area: lpart; }
.item2 { grid-area: rpart; }

.grid-container {
  display: grid;
  grid-template-areas:
    'lpart lpart lpart rpart rpart';
  grid-gap: 0px;
  background-color: #ffffff;
  width: 100%;
  padding: 0px;
}

.grid-container > div {
  background-color: #ffffff;
}
body {
  font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
  font-weight: 300;
  background-color: #ffffff;
  text-align: left;
}

h1 {
  font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
  font-weight: 300;
  margin-left: 10px;
  margin-right: 10px;
}
h2 {
  font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
  font-weight: 300;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 24px;
}
h3 {
  font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
  font-weight: 300;

  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
}
h4 {
  font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 16px;
  color: #555952;
}
p {
  font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
  font-weight: 300;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}
</style>
<script src="https://kit.fontawesome.com/00d1b3d565.js" crossorigin="anonymous"></script>
